amqp
annotated-types
anyio
arabic-reshaper
argon2-cffi
argon2-cffi-bindings
asgiref
asn1crypto
astroid
asttokens
attrs
Authlib
autopep8
bandit
bcrypt
beautifulsoup4
billiard
black
boto3
botocore
brotli
build
cachetools
celery
Cerberus
certifi
cffi
cfgv
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
crispy-bootstrap5
cron_descriptor
cryptography
cssselect2
decorator
diff-match-patch
dill
distlib
dj-database-url
Django
django-admin-interface
django-allauth
django-anymail
django-auditlog
django-axes
django-cachalot
django-celery-beat
django-celery-results
django-colorfield
django-cors-headers
django-countries
django-crispy-forms
django-crontab
django-debug-toolbar
django-environ
django-extensions
django-filter
django-fsm
django-guardian
django-health-check
django-import-export
django-ipware
django-model-utils
django-notifications-hq
django-oauth-toolkit
django-phonenumber-field
django-picklefield
django-prometheus
django-q2
django-ratelimit
django-redis
django-reversion
django-silk
django-storages
django-structlog
django-stubs
django-stubs-ext
django-timezone-field
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
djangorestframework-stubs
docopt
dparse
drf-spectacular
drf-spectacular-sidecar
drf-yasg
et_xmlfile
execnet
executing
factory-boy
Faker
fastapi
filelock
flake8
fonttools
freetype-py
gevent
google-ai-generativelanguage==0.6.2
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.2
googleapis-common-protos==1.63.0
gprof2dot
greenlet
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn
h11
hiredis
html5lib
httpcore
httplib2==0.22.0
httpx
identify
idna
inflection
iniconfig
ipdb
ipython
ipython_pygments_lexers
isort
jedi
Jinja2
jmespath
joblib
jsonfield
jsonschema
jsonschema-specifications
jwcrypto
kombu
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mccabe
mdurl
model-bakery
mypy
mypy_extensions
ndg-httpsclient
nltk
nodeenv
numpy
oauthlib
openpyxl
oscrypto
packaging
pandas
parso
passlib
pathspec
phonenumbers
pillow
pip-tools
pipreqs
platformdirs
pluggy
pre_commit
prometheus-client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg
psycopg-binary
psycopg2
psycopg2-binary
pure_eval
pusher
pyasn1
pyasn1_modules
pycairo
pycodestyle
pycparser
pydantic
pydantic_core
pydyf
pyflakes
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
pylint
PyNaCl
pyOpenSSL
pyparsing==3.1.2
pypdf
PyPDF2
pyphen
pyproject_hooks
pytest
pytest-cov
pytest-django
pytest-mock
pytest-xdist
python-bidi==0.4.2
python-crontab
python-dateutil
python-decouple
python-docx
python-dotenv
python-ipware
python-magic
python-slugify
pytz
PyYAML
redis
referencing
regex
reportlab
requests
rich
rlPyCairo
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
s3transfer
safety
safety-schemas
sentry-sdk
setuptools
shellingham
six
slugify
sniffio
soupsieve
sqlparse
stack-data
starlette
stevedore
structlog
svglib
swapper
tablib
tenacity
text-unidecode
tinycss2
tinyhtml5
tomlkit
tqdm
traitlets
typer
types-cachetools
types-cffi
types-defusedxml
types-httplib2
types-protobuf
types-pyasn1
types-pyOpenSSL
types-pytz
types-PyYAML
types-requests
types-setuptools
types-tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate==4.1.1
uritools
urllib3
uvicorn
vine
virtualenv
wcwidth
weasyprint
webencodings
wheel
whitenoise
xhtml2pdf
yarg
zope.event
zope.interface
zopfli
