# Core Django & API
Django==5.0.4
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.2
whitenoise==6.6.0
gunicorn==22.0.0

# Database & Environment
psycopg2-binary==2.9.9
psycopg[binary]==3.1.18
dj-database-url==2.1.0
python-dotenv==1.0.1

# Background Tasks & Real-time
django-q2==1.6.1
pusher==3.3.2

# PDF Generation
reportlab==4.2.0
xhtml2pdf==0.2.16
python-bidi==0.4.2

# Utilities
requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2024.1
asgiref==3.8.1
sqlparse==0.5.1
