name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - staging

  pull_request:
    branches:
      - main
      - staging
    types:
      - closed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Environment Tag
        id: vars
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "::set-output name=tag::latest"
            echo "::set-output name=env::production"
          else
            echo "::set-output name=tag::staging"
            echo "::set-output name=env::staging"
          fi

      - name: Build and push Backend image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./backend.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/edulink-backend:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/edulink-backend:${{ steps.vars.outputs.tag }}

      - name: Build and push Frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./frontend.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/edulink-frontend:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/edulink-frontend:${{ steps.vars.outputs.tag }}

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh ${{ secrets.SERVER_BOT }}@${{ secrets.SERVER_IP }} "~/deploy.sh ${{ secrets.DOCKER_USERNAME }}/edulink-backend:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/edulink-frontend:${{ github.sha }}"
